**/out/
**/build/
**/.vs/
**/CMakeFiles/

# binary files and exes
*.exe
*.obj
*.o
*.pdb
*.ilk
*.lib

# other system files or configurations
CMakeSettings.json
CompilerIdCXX/

ff_datasets/
gf_datasets/
benchmarkreport/
tests/discardedformulas/
*.csv